@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  background-color: #FEF9FF;
  color: #303030;
  font-family: 'Inconsolata', monospace;
}

h1 {
  background-color: #464D77;
  color: white;
  padding: 16px;
  margin: 50px 0 0 0;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

h3 {
  margin-top: 0;
}

.container {
  width: 50%;
  margin: 0 auto;
  border-radius: 8px;
}

.content {
  border-radius: 8px;
}

.calculator {
  background-color: white;
  padding: 32px 50px;
}

.recommendation {
  background-color: #464D77;
  color: white;
  padding: 32px 50px;
  border-radius: 0 0 8px 8px;
  display: none;
}

.checkbox {
  position: absolute;
  transform: scale(0);
}

.checkbox + label {
  border: 1px solid #464D77;
  background-color: #FEF9FF;
  display: inline-block;
  font-weight: 100;
  padding: 9px 18px;
  border-radius: 30px;
  cursor: pointer;
}

.checkbox:checked + label {
  background-color: #464D77;
  color: white;
  transition: 0.3s ease;
}

.checkbox-container {
  padding: 8px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  h1 {
    margin: 0;
    border-radius: 0;
  }
  .recommendation {
    border-radius: 0;
  }
}
