@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  background-color: #FEF9FF;
  color: #303030;
  font-family: 'Inconsolata', monospace;
}

.container {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

.calculator {
  background-color: white;
  padding: 50px;
  border-radius: 4px;
}

.recommendation {
  background-color: #464D77;
  color: white;
  padding: 16px 50px;
  border-radius: 4px;
  display: none;
}

.checkbox {
  position: absolute;
  transform: scale(0);
}

.checkbox + label {
  border: 1px solid #464D77;
  background-color: #FEF9FF;
  display: inline-block;
  font-weight: 100;
  padding: 9px 18px;
  border-radius: 30px;
  cursor: pointer;
}

.checkbox:checked + label {
  background-color: #464D77;
  color: white;
  transition: 0.3s ease;
}

.checkbox-container {
  padding: 8px;
}

form {
  display: flex;
  flex-wrap: wrap;
}
